<!DOCTYPE html>
<html>
 <head> 
  <meta charset="utf-8" /> 
  <title>影视动态 - 详情</title> 
  <meta name="keywords" content="" /> 
  <meta name="description" content="自从“火华社长”刘烨加盟《非诚勿扰》后，每周都能带给观众新的惊喜。在本周六（5月9日）晚的节目中，刘烨吹埙、走秀、唱儿歌、“真心话大冒险“……可谓是加盟以来玩得最high的一次！此外，刘烨还曝料法国太太对中国的广场舞情有独钟，“她有个理想，就是等老了也当一个广场舞大妈。”" /> 
  <link href="../static/css/style.css" type="text/css" rel="stylesheet" />
  <meta http-equiv="x-ua-compatible" content="ie=7" /> 
  <script type="text/javascript" src="../static/js/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="../static/js/common.js"></script>
 </head> 
 <body> 
  <div class="top"> 
   <div class="w"> 
    <span>欢迎来到爱影评www.aiyingping.com最专业的剧情介绍网站</span> 
   </div> 
  </div> 
  <div id="header"> 
   <div class="w"> 
    <div class="logo"> 
     <a href="index.html" title="首页-爱影评,电视剧情网">爱影评</a> 
    </div> 
    <div id="search"> 
     <div class="ser"> 
      <form action="/e/search/index.php" method="post" name="searchform" id="searchform"> 
       <input type="text" id="kw" name="keyboard" class="search-input" value="请在此处输入影片片名或演员名称。" onfocus="if(this.value=='请在此处输入影片片名或演员名称。'){this.value='';}" onblur="if(this.value==''){this.value='请在此处输入影片片名或演员名称。';};" /> 
       <input type="submit" name="submit" class="sub" value="" /> 
       <input type="hidden" name="show" value="title,player" /> 
       <input type="hidden" name="tempid" value="1" /> 
       <input type="hidden" name="tbname" value="movie" /> 
      </form> 
     </div> 
     <p>热门搜索：<a href="/e/search/result/?searchid=47" target="_blank">清潭洞丑闻</a>&nbsp;<a href="/e/search/result/?searchid=27" target="_blank">神雕侠侣</a>&nbsp;<a href="/e/search/result/?searchid=78" target="_blank">狎鸥亭白夜</a>&nbsp;<a href="/e/search/result/?searchid=19" target="_blank">二炮手</a>&nbsp;<a href="/e/search/result/?searchid=17" target="_blank">匹诺曹</a>&nbsp;<a href="/e/search/result/?searchid=168" target="_blank">小时代4</a><br /></p> 
    </div> 
    <p class="plus"><a href="ranking_list.html" class="ph">排行榜</a><a href="/new.html" class="dq">最近更新</a><a href="javascript:void(0)" rel="nofollow" id="addFavorite" class="sc">收藏我们</a></p> 
   </div> 
  </div> 
  <div class="menu"> 
   <div class="w"> 
    <a href="index.html" titile="爱影评,电视剧情网">首页</a> 
    <a href="search_detail.html">电视剧剧情</a>
    <a href="/movie/">电影剧情</a> 
    <a href="search_detail.html">动漫剧情</a>
    <a href="search_detail.html" rel="nofollow">内地剧情</a>
    <a href="search_detail.html" rel="nofollow">港台剧情</a>
    <a href="search_detail.html" rel="nofollow">日韩剧情</a>
    <a href="search_detail.html" rel="nofollow">欧美剧情</a>
    <a href="search_detail.html" rel="nofollow">泰印剧情</a>
    <a href="stars.html">明星库</a> 
    <a href="news.html">影视动态</a> 
   </div> 
  </div> 
  <!--/header--> 
  <div id="main"> 
   <div class="banner"> 
    <script src="../static/js/thea1.js"></script>
   </div> 
   <div class="location"> 
    <h2>您当前的位置：<a href="index.html">爱影评电视剧情网</a>&nbsp;&gt;&nbsp;<a href="news.html">影视动态</a></h2> 
   </div> 
   <div class="cr"></div> 
   <div class="view"> 
    <div class="endnew"> 
     <h1>《非诚勿扰》刘烨玩high 曝料太太爱跳广场舞</h1> 
     <div class="auor">
       2015-05-09 12:49　　来源：　　作者：　　浏览量： 
      <script src="/e/public/ViewClick/?classid=5&amp;id=3393&amp;addclick=1"></script> 
     </div> 
     <div class="intro"> 
      <b>导读</b>自从“火华社长”刘烨加盟《非诚勿扰》后，每周都能带给观众新的惊喜。在本周六（5月9日）晚的节目中，刘烨吹埙、走秀、唱儿歌、“真心话大冒险“&amp;hellip;&amp;hellip;可谓是加盟以来玩得最high的一次！此外，刘... 
     </div> 
     <div id="endtext"> 
      <p>　　 自从“火华社长”刘烨加盟《非诚勿扰》后，每周都能带给观众新的惊喜。在本周六（5月9日）晚的节目中，刘烨吹埙、走秀、唱儿歌、“真心话大冒险“……可谓是加盟以来玩得最high的一次！此外，刘烨还曝料法国太太对中国的广场舞情有独钟，“她有个理想，就是等老了也当一个广场舞大妈。”拥有帅气五官和阳光笑容的1米97“长腿欧巴”前来相亲备受追捧，还将有美国帅哥、“天才商人”先后登台。</p> 
      <p>　<strong>　刘烨遭遇1米97“长腿欧巴”</strong></p> 
      <p><strong>　　大玩“真心话大冒险” 上演超萌儿歌秀</strong></p> 
      <p>　　高达1米97的“长腿欧巴”李旸以独有的帅气面容和阳光笑容备受女嘉宾们喜爱，纷纷表示，“找这么高这么帅的男朋友很有面子，而且基因好，以后的孩子也会高高帅帅的！”女嘉宾们争先恐后地与“长腿欧巴”搭档走秀，刘烨也与其比起了身高。李旸曾是一位专业的游泳运动员，后来因伤病不得不放弃了心爱的运动事业，目前正在从事婴幼儿教育工作。生活中李旸是个完全没有秘密的人，最不怕玩的就是“真心话大冒险”。6号女生陈怡吟趁机邀请刘烨玩起了“真心话大冒险”，孟非笑道，“作为朋友，我建议刘烨选大冒险，不然万一问到不想说的，真下不来台。”陈怡吟随即向刘烨出了“大冒险”难题，“社长要现场找一个体重120斤以上的女观众抱着她转圈！”没想到，刘烨不仅完全照做而且还大方与其牵手走秀。被选中的女生激动不已，“我太幸福了，一辈子不结婚都值了！”刘烨也随后向陈怡吟展开了反击，“我问句真心话吧，如果这个世界上只剩下我和孟非两个男人，你会选择谁？”陈怡吟会给出怎样的答案呢?</p> 
      <p>　　每天和可爱的孩子们打交道，李旸也变成了一个超级大男孩，爱上了看动画片、唱儿歌、去儿童乐园。听到李旸现场哼起《小毛驴》，父爱爆棚的刘烨干脆上演了一场超萌儿歌秀，从《丢手绢》唱到《葫芦娃》，此外还献唱了一首法语儿歌。节目组特地为李旸准备了道具娃娃向众人教授抱孩子的正确姿势，刘烨也接过“娃娃”一本正经地教了起来，“刚出生的孩子，只能横抱，不能竖抱。还有最好让孩子的头部和耳朵贴在母亲心上，可以让孩子找回昔日在子宫时宁静和安全的感觉，这可是任何催眠曲都没法比的。”谈及理想中的女朋友，李旸表示，“我对身高没有太大要求，到我第一颗钮扣就好，性格上要独立，人要孝顺。”他最终能否成功牵手呢？</p> 
      <p>　<strong>　刘烨曝料法国太太爱跳广场舞</strong></p> 
      <p><strong>　　趣谈文化差异 “媳妇最烦我说‘你不懂’”</strong></p> 
      <p>　　来美国西雅图的施凯杰同样以帅气外形赢得了24盏亮灯， 一直都很向往外面世界的他已经走过了很多地方，16岁到西班牙留学、去日本骑自行车野营、在保加利亚当农民……大学毕业后进入了波音公司工作，不想太安逸又辞职到了中国读MBA。来到中国之后，施凯杰发现自己与“中国大妈”很是投缘，“中国大妈，星球奇迹!她们勇敢热情，从不拒绝交流，还创造了中国的弗朗明戈——广场舞，美国的大妈们真的要好好学习一下。我最爱和中国大妈侃大山了，也很喜欢跟她们一块儿跳广场舞。”刘烨幽默曝料道，“我那法国媳妇有个理想，就是等老了也加入到广场舞大妈的行列中去，她觉得特美。其实我心里挺矛盾的，因为我小时候办过一件损事儿。那年我高考复习，我们家楼下正好有个路灯，那路灯瓦数还挺大，一群大妈就在底下跳舞，每天跳到10点 、11点。我后来实在受不了，就下去把那路灯给砸了。”</p> 
      <p>　　在感情生活方面，施凯杰的初恋是个德国女孩，内向、知性，很有艺术气质，可惜最后两人却因一句“你不懂”走到了分手，“就是有一天她生气不理我，过两天又原谅了我，我问她为什么，她却说跟我说，说了我也不懂，这句话太难听了，深深地伤害了我。”刘烨表态道，“这应该是文化差异的问题，其实男嘉宾想要的是一个尊重。在家我太太也这样，最烦我说‘你不懂’，真的会跟我急，什么我不懂？！”此外，刘烨还讲述了不少因文化差异而发生的家庭趣事，“我太太带我父母去吃饭，问我爸要吃什么 ，他老人家就说随便，然后问他要不要喝点这个，他说不要。 我太太就抓狂了，随便是什么意思 ？吃也不吃、喝也不喝，到底是要怎样？！”转门打开，是一顶野营帐篷。施凯杰表示，希望和女生牵手之后一起去野营，去更多的地方看一看。会有人为他把灯留到最后吗？</p> 
      <p>　　<strong>刘烨吹埙再出糗</strong></p> 
      <p><strong>　　“天才商人”来相亲 “同甘不共苦”引热议</strong></p> 
      <p>　　继与男嘉宾PK篮球出糗后，刘烨再遇尴尬。“天才商人”杨夕锐遗传了祖辈的经商技能，早年就开始摆地摊，埙、柚子唇膏、变脸娃娃……不管什么都能轻松卖出去。来到《非诚勿扰》，他为三位老师和24位女生每人都带来了一个埙。刘烨接过后新鲜地把玩了起来，可是怎么吹都吹不出声。杨夕锐忙解围道，“这个确实很难吹，平常如果客人能一下吹出响来，我都会直接送给他。”除了摆地摊外，杨夕锐还是个很厉害的英语辅导老师。随着英语辅导班和地摊生意蒸蒸日上，他又和朋友合伙开了一家家居精品店，继续发挥着自己的经商天赋。</p> 
      <p>　　谈及感情，杨夕锐表示自己是个同甘但不共苦的人，引发了全场热议。刘烨力挺道，“男嘉宾所谓的能同甘不能共苦，其实就是他这年龄男孩的一种强烈自尊。我也这样，就是不想让她跟我一块儿共苦。当然不是说我就把对方赶走，是我自己的一个内疚、一个自责或者说一种自卑，这我觉得是正常健康的，没什么。”对此，孟非表态道，“每个人都有为生计打拼的阶段，在这个阶段，希望两个人能够用感受彼此温暖的方式相处下去。”杨夕锐对刘烨的观点深表认同，“刘烨老师很懂我，我是真的不想让一个娇滴滴的女生跟着我受罪。我是个十足的西北男人，脾气会有点，但百分百会疼媳妇。我也希望能够遇见一个对的人，跟我互相促进、共同进步，成为彼此更好的自己。”他能否在《非诚勿扰》邂逅意中人呢？江苏卫视《非诚勿扰》5月9日本周六晚浪漫上演，敬请期待！</p> 
     </div> 
     <div id="pages"></div> 
     <div class="infoprev">
       上一篇： 
      <a href="/news/3392.html">《为她而战》严屹宽颜值爆表 杜若溪豪爽女汉子</a> 
      <br />下一篇： 
      <a href="news.html">返回列表</a> 
     </div> 
     <div class="share"> 
      <div class="bdsharebuttonbox"> 
       <a class="bds_more" href="http://share.baidu.com/code#" data-cmd="more"> 分享到：</a> 
       <a class="bds_qzone" title="分享到QQ空间" href="http://share.baidu.com/code#" data-cmd="qzone"></a> 
       <a class="bds_tsina" title="分享到新浪微博" href="http://share.baidu.com/code#" data-cmd="tsina"></a> 
       <a class="bds_tqq" title="分享到腾讯微博" href="http://share.baidu.com/code#" data-cmd="tqq"></a> 
       <a class="bds_renren" title="分享到人人网" href="http://share.baidu.com/code#" data-cmd="renren"></a> 
       <a class="bds_weixin" title="分享到微信" href="http://share.baidu.com/code#" data-cmd="weixin"></a> 
      </div> 
     </div> 
    </div> 
    <!--/endpage--> 
   </div> 
   <!--/jq-list--> 
   <div class="jq-side"> 
    <div class="shot"> 
     <div class="title"> 
      <h3>电视剧排行榜</h3> 
      <dl> 
       <dd class="on"> 
        <a href="javascript:;">最新</a> 
       </dd> 
       <dd> 
        <a href="javascript:;">推荐</a> 
       </dd> 
      </dl> 
     </div> 
     <p class="dyshot"><i>名称</i><span>更新集数</span></p> 
     <div class="bd"> 
      <ul class="dis"> 
       <li><span>大结局</span><a href="detail_movie.html" target="_blank">虎妈猫爸</a></li>
       <li><span>大结局</span><a href="detail_movie.html" target="_blank">爱情宝典</a></li>
       <li><span>大结局</span><a href="/tv/472.html" target="_blank">听到传闻</a></li> 
       <li><span>大结局</span><a href="/tv/469.html" target="_blank">圈里圈外</a></li> 
       <li><span>大结局</span><a href="/tv/468.html" target="_blank">龙汇镖局之大宋女镖师</a></li> 
       <li><span>大结局</span><a href="/tv/467.html" target="_blank">失宠王妃之结缘</a></li> 
       <li><span>大结局</span><a href="/tv/466.html" target="_blank">神机妙算刘伯温</a></li> 
       <li><span>大结局</span><a href="/tv/465.html" target="_blank">青鸟之家</a></li> 
       <li><span>大结局</span><a href="/tv/456.html" target="_blank">封神英雄榜2</a></li> 
       <li><span>大结局</span><a href="/tv/462.html" target="_blank">冲出迷雾</a></li> 
      </ul> 
      <ul> 
       <li><span>大结局</span><a href="detail_movie.html" target="_blank">虎妈猫爸</a></li>
       <li><span>大结局</span><a href="/tv/472.html" target="_blank">听到传闻</a></li> 
       <li><span>大结局</span><a href="/tv/461.html" target="_blank">嘿！真不是闹着玩的</a></li> 
       <li><span>大结局</span><a href="/tv/429.html" target="_blank">相爱穿梭千年</a></li> 
       <li><span>大结局</span><a href="/tv/405.html" target="_blank">倩女喜相逢</a></li> 
       <li><span>大结局</span><a href="/tv/400.html" target="_blank">极品新娘</a></li> 
       <li><span>完结</span><a href="/tv/396.html" target="_blank">行尸走肉第五季</a></li> 
       <li><span>大结局</span><a href="index.html" target="_blank">医馆笑传</a></li> 
       <li><span>大结局</span><a href="/tv/189.html" target="_blank">治愈者/Healer</a></li> 
       <li><span>大结局</span><a href="/tv/177.html" target="_blank">Mr.Back</a></li> 
      </ul> 
     </div> 
    </div> 
    <!--/shot--> 
    <div class="a300"> 
     <script src="../static/js/thea2.js"></script>
    </div> 
    <div class="shot"> 
     <div class="title"> 
      <h3>电影排行榜</h3> 
      <dl> 
       <dd class="on"> 
        <a href="javascript:;">最新</a> 
       </dd> 
       <dd> 
        <a href="javascript:;">推荐</a> 
       </dd> 
      </dl> 
     </div> 
     <p class="dyshot"><i>名称</i><span>点击数</span></p> 
     <div class="bd"> 
      <ul class="dis"> 
       <li><span>218</span><a href="/movie/471.html" target="_blank">一路有你</a></li> 
       <li><span>240</span><a href="/movie/470.html" target="_blank">寻找幸福的赫克托</a></li> 
       <li><span>243</span><a href="/movie/463.html" target="_blank">今天的恋爱</a></li> 
       <li><span>244</span><a href="/movie/454.html" target="_blank">冲上云霄 </a></li> 
       <li><span>284</span><a href="/movie/453.html" target="_blank">澳门风云2</a></li> 
       <li><span>252</span><a href="/movie/452.html" target="_blank">天将雄师</a></li> 
       <li><span>422</span><a href="/movie/447.html" target="_blank">十二金鸭</a></li> 
       <li><span>281</span><a href="/movie/446.html" target="_blank">五十度灰</a></li> 
       <li><span>305</span><a href="/movie/445.html" target="_blank">王牌特工:特工学院</a></li> 
       <li><span>231</span><a href="/movie/444.html" target="_blank">新年行动</a></li> 
      </ul> 
      <ul> 
       <li><span>244</span><a href="/movie/454.html" target="_blank">冲上云霄 </a></li> 
       <li><span>284</span><a href="/movie/453.html" target="_blank">澳门风云2</a></li> 
       <li><span>252</span><a href="/movie/452.html" target="_blank">天将雄师</a></li> 
       <li><span>282</span><a href="/movie/423.html" target="_blank">男奴时代</a></li> 
       <li><span>225</span><a href="/movie/416.html" target="_blank">完美约会</a></li> 
       <li><span>277</span><a href="/movie/408.html" target="_blank">美女敢死队</a></li> 
       <li><span>275</span><a href="/movie/334.html" target="_blank">超体/绝路杀姬/超能煞姬</a></li> 
       <li><span>311</span><a href="/movie/118.html" target="_blank">一步之遥</a></li> 
       <li><span>330</span><a href="/movie/95.html" target="_blank">男人不可以穷</a></li> 
       <li><span>315</span><a href="/movie/94.html" target="_blank">功夫3D</a></li> 
      </ul> 
     </div> 
    </div> 
    <!--/shot--> 
    <div class="a300"> 
     <script src="../static/js/thea3.js"></script>
    </div> 
    <script>jQuery(".jq-side .shot").slide({ titCell:"dd",mainCell:".bd",delayTime:10 });</script> 
   </div> 
  </div> 
  <!--/footer--> 
  <div id="footer"> 
   <div class="help"> 
    <div class="w"> 
     <ul> 
      <li> <b>电视节目指南</b> <p><a href="javascript:;" rel="nofollow">正在播出</a></p><p><a href="javascript:;" rel="nofollow">热门节目</a></p><p><a href="javascript:;" rel="nofollow">分类预告</a></p><p><a href="javascript:;" rel="nofollow">一周节目指南</a></p> </li> 
      <li> <b>相关推荐</b> <p><a href="javascript:;" rel="nofollow">图片写真</a></p><p><a href="javascript:;" rel="nofollow">影评/短评</a></p><p><a href="javascript:;" rel="nofollow">剧情</a></p><p><a href="javascript:;" rel="nofollow">预告片</a></p> </li> 
      <li> <b>关于我们</b> <p><a href="about.html" rel="nofollow">关于我们</a></p><p><a href="map.html">站点地图</a></p><p><a href="/hz.html" rel="nofollow">站长合作</a></p><p><a href="/contact.html" rel="nofollow">联系我们</a></p> </li> 
      <li> <b>帮助中心</b> <p><a href="javascript:;" rel="nofollow">站长工具</a></p><p><a href="/help.html" rel="nofollow">帮助说明</a></p><p><a href="javascript:;" rel="nofollow">讨论区</a></p> </li> 
      <li class="wx"> <b>关注微信</b> <p class="wxcode"><i></i></p><p>扫描二维码 下载客户端</p> </li> 
      <li class="wb"> <b>关注微博</b> <p><a href="javascript:;" rel="nofollow">新浪微博</a></p><p><a href="javascript:;" rel="nofollow">腾讯微博</a></p> </li> 
     </ul> 
    </div> 
   </div> 
   <!--/link--> 
   <div class="foot"> 
    <p>Copyright &copy; 2014-2015 爱影评 www.aiyingping.com All rights reserved</p> 
    <p>湘ICP备14016065号-2</p> 
    <script type="text/javascript">
    

</script> 
    <script type="text/javascript">
    

</script> 
   </div> 
  </div> 
  <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{"bdSize":16}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>  
 </body>
</html>