<!DOCTYPE html>
<html>
 <head> 
  <meta charset="utf-8" /> 
  <title>明星个人资料</title> 
  <meta name="keywords" content=",董勇个人资料" /> 
  <meta name="description" content="董勇，出生地：浙江省杭州市，毕业院校：中国戏曲学院，更多董勇的个人资料信息，请详情阅读！" /> 
  <link href="../static/css/style.css" type="text/css" rel="stylesheet" />
  <meta http-equiv="x-ua-compatible" content="ie=7" /> 
  <script type="text/javascript" src="../static/js/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="../static/js/common.js"></script>
 </head> 
 <body> 
  <div class="top"> 
   <div class="w"> 
    <span>欢迎来到爱影评www.aiyingping.com最专业的剧情介绍网站</span> 
   </div> 
  </div> 
  <div id="header"> 
   <div class="w"> 
    <div class="logo"> 
     <a href="index.html" title="首页-爱影评,电视剧情网">爱影评</a> 
    </div> 
    <div id="search"> 
     <div class="ser"> 
      <form action="/e/search/index.php" method="post" name="searchform" id="searchform"> 
       <input type="text" id="kw" name="keyboard" class="search-input" value="请在此处输入影片片名或演员名称。" onfocus="if(this.value=='请在此处输入影片片名或演员名称。'){this.value='';}" onblur="if(this.value==''){this.value='请在此处输入影片片名或演员名称。';};" /> 
       <input type="submit" name="submit" class="sub" value="" /> 
       <input type="hidden" name="show" value="title,player" /> 
       <input type="hidden" name="tempid" value="1" /> 
       <input type="hidden" name="tbname" value="movie" /> 
      </form> 
     </div> 
     <p>热门搜索：<a href="/e/search/result/?searchid=47" target="_blank">清潭洞丑闻</a>&nbsp;<a href="/e/search/result/?searchid=27" target="_blank">神雕侠侣</a>&nbsp;<a href="/e/search/result/?searchid=78" target="_blank">狎鸥亭白夜</a>&nbsp;<a href="/e/search/result/?searchid=19" target="_blank">二炮手</a>&nbsp;<a href="/e/search/result/?searchid=17" target="_blank">匹诺曹</a>&nbsp;<a href="/e/search/result/?searchid=65" target="_blank">何以笙箫默</a><br /></p> 
    </div> 
    <p class="plus"><a href="ranking_list.html" class="ph">排行榜</a><a href="/new.html" class="dq">最近更新</a><a href="javascript:void(0)" rel="nofollow" id="addFavorite" class="sc">收藏我们</a></p> 
   </div> 
  </div> 
  <div class="menu"> 
   <div class="w"> 
    <a href="index.html" titile="爱影评,电视剧情网">首页</a> 
    <a href="search_detail.html">电视剧剧情</a>
    <a href="/movie/">电影剧情</a> 
    <a href="search_detail.html">动漫剧情</a>
    <a href="search_detail.html" rel="nofollow">内地剧情</a>
    <a href="search_detail.html" rel="nofollow">港台剧情</a>
    <a href="search_detail.html" rel="nofollow">日韩剧情</a>
    <a href="search_detail.html" rel="nofollow">欧美剧情</a>
    <a href="search_detail.html" rel="nofollow">泰印剧情</a>
    <a href="stars.html">明星库</a> 
    <a href="news.html">影视动态</a> 
   </div> 
  </div> 
  <div id="main"> 
   <div class="location"> 
    <h2>您当前的位置：<a href="index.html">爱影评电视剧情网</a>&nbsp;&gt;&nbsp;<a href="stars.html">明星库</a></h2> 
   </div> 
   <div class="banner"> 
    <script src="../static/js/thea1.js"></script>
   </div> 
   <div class="box end-star"> 
    <div class="star-info"> 
     <img src="../static/images/4d018de2a689b4654b8f3ddf14a3477b.jpg" />
     <div class="infos"> 
      <div>
        中文名： 
       <h1>董勇</h1> 
      </div> 
      <p>英文名：董晶</p> 
      <p>出生地：浙江省杭州市 出生日期：1968年12月15日</p> 
      <p>国家地区：中国</p> 
      <p>职业：演员</p> 
      <p>身高：178cm 体重：75kg</p> 
      <p>星座：射手座</p> 
      <p>毕业院校：中国戏曲学院</p> 
      <p>代表作：北平无战事</p> 
      <p>相关明星：<a href="/star/203.html" title="程煜">程煜</a> </p> 
     </div> 
    </div> 
    <div class="star-ad"> 
     <script src="../static/js/thea2.js"></script>
    </div> 
    <div class="cr"></div> 
    <h2>个人资料</h2> 
    <div id="endtext">
      董勇，1968年12月15日生于浙江省杭州市，中国内地男演员、京剧武生。1986年毕业于中国戏曲学院。 
     <br /> 
     <br /> 1985年参演首部电影作品《岳云》；1989年，参演首部电视剧《满江红》。2000年，在陶泽如、陈道明领衔主演的电视剧《黑洞》饰演饰演刑警队副队长王明；在电视剧《重案六组》中饰演江汉。2002年，参演电视剧《绝对控制》饰演派出所所长。2004年，凭借《亲情树》彭大署一角获得第24届“飞天奖”优秀男演员提名。2005年，参演于仁泰执导电影《霍元甲》，夺得大众电影百花奖最佳男配角提名。 
     <br /> 
     <br /> 2013年1月，在古装剧《唐朝浪漫英雄》中首演反派。 
     <br /> 
     <br /> 2014年12月17日，董勇凭借在在《北平无战事》中饰演曾可达获得2014国剧盛典“年度荧屏表现力奖”。 
     <br /> 
     <br /> 2014年12月28日，12月28日，演员董勇在老家杭州举行婚礼，迎娶浙江籍新娘子郑佳艳。 
    </div> 
    <h2>个人经历</h2> 
    <div id="endtext">
      董勇京剧武生出身。1978年考取中国戏曲学院，学的是武生。1985年毕业分配到杭州京剧院，担任杭州京剧院出品京剧《新游龙戏凤》的男一号。1991年离开杭州京剧院。 
    </div> 
    <h2>演艺经历</h2> 
    <div id="endtext">
      1985年参演首部作品《岳云》；1989年，参演首部电视剧《满江红》。 
     <br /> 
     <br /> 2000年，在陶泽如、陈道明领衔主演的电视剧《黑洞》饰演饰演刑警队副队长王明；《重案六组》中饰演江汉。 
     <br /> 
     <br /> 2002年，在张建栋执导王学兵主演的电视剧《绝对控制》中饰演派出所所长；参演电视剧《亲情树》，凭借《亲情树》彭大署一角获得第24届“飞天奖”优秀男演员提名。 
     <br /> 
     <br /> 2005年，参演于仁泰执导的电影《霍元甲》，饰演霍元甲的讲义气的商人兄弟农劲荪，夺得大众电影百花奖最佳男配角提名；同年，在黄晓明主演的《大汉天子3》中出演卫青一角。 
     <br /> 
     <br /> 2006年，与苏岩主演家庭伦理悬疑剧《迷雾》；与苗圃、秦海璐、张涵予主演《女人的选择》。 
     <br /> 
     <br /> 2008年11月，与刘小锋主演的谍战剧《重庆谍战》播出，在上海地区播出期间，该剧以最高收视突破10%而夺得上海地区收视冠军。 
     <br /> 
     <br /> 2011年4月，在甄子丹主演的电影《关云长》中出演曹操的谋臣“荀攸”；9月，主演的谍战剧剧《螳螂》在江苏卫视播出。 
     <br /> 
     <br /> 2012年8月，参演梁朝伟、周迅主演的谍战电影《听风者》，饰演神秘组织“701”行动组的伍昌。 
     <br /> 
     <br /> 2013年1月，在古装剧《唐朝浪漫英雄》中颠覆自我首演反派。 
    </div> 
    <h2>董勇演过的影片</h2> 
    <ul class="star-movie"> 
     <li><a href="/tv/61.html" title="北平无战事"><img src="../static/images/1918403299cb0cb2173254018915b258.jpg" alt="北平无战事" /><p>北平无战事</p></a></li>
    </ul> 
    <h2>与董勇合作过的演员</h2> 
    <ul class="star-list"> 
     <li><a href="/star/203.html" title="程煜"><img src="../static/images/17edf580fb948f12e973f869b6bec455.jpg" alt="程煜" /><p>程煜</p></a></li>
    </ul> 
   </div> 
  </div> 
  <!--/footer--> 
  <div id="footer"> 
   <div class="help"> 
    <div class="w"> 
     <ul> 
      <li> <b>电视节目指南</b> <p><a href="javascript:;" rel="nofollow">正在播出</a></p><p><a href="javascript:;" rel="nofollow">热门节目</a></p><p><a href="javascript:;" rel="nofollow">分类预告</a></p><p><a href="javascript:;" rel="nofollow">一周节目指南</a></p> </li> 
      <li> <b>相关推荐</b> <p><a href="javascript:;" rel="nofollow">图片写真</a></p><p><a href="javascript:;" rel="nofollow">影评/短评</a></p><p><a href="javascript:;" rel="nofollow">剧情</a></p><p><a href="javascript:;" rel="nofollow">预告片</a></p> </li> 
      <li> <b>关于我们</b> <p><a href="about.html" rel="nofollow">关于我们</a></p><p><a href="map.html">站点地图</a></p><p><a href="/hz.html" rel="nofollow">站长合作</a></p><p><a href="/contact.html" rel="nofollow">联系我们</a></p> </li> 
      <li> <b>帮助中心</b> <p><a href="javascript:;" rel="nofollow">站长工具</a></p><p><a href="/help.html" rel="nofollow">帮助说明</a></p><p><a href="javascript:;" rel="nofollow">讨论区</a></p> </li> 
      <li class="wx"> <b>关注微信</b> <p class="wxcode"><i></i></p><p>扫描二维码 下载客户端</p> </li> 
      <li class="wb"> <b>关注微博</b> <p><a href="javascript:;" rel="nofollow">新浪微博</a></p><p><a href="javascript:;" rel="nofollow">腾讯微博</a></p> </li> 
     </ul> 
    </div> 
   </div> 
   <!--/link--> 
   <div class="foot"> 
    <p>Copyright &copy; 2014-2015 爱影评 www.aiyingping.com All rights reserved</p> 
    <p>湘ICP备14016065号-2</p> 
    <script type="text/javascript">
    

</script> 
    <script type="text/javascript">
    

</script> 
   </div> 
  </div>  
 </body>
</html>