<!DOCTYPE html>
<html>
 <head> 
  <meta charset="utf-8" /> 
  <title>明星库</title> 
  <meta name="keywords" content="明星资料,爱影评网" /> 
  <meta name="description" content="影视明星资料大全，我们更新大量的影视明星信息，你想了解你心中的女神、男神吗？这里，不容错过！" /> 
  <link href="../static/css/style.css" type="text/css" rel="stylesheet" />
  <meta http-equiv="x-ua-compatible" content="ie=7" /> 
  <script type="text/javascript" src="../static/js/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="../static/js/common.js"></script>
 </head> 
 <body> 
  <div class="top"> 
   <div class="w"> 
    <span>欢迎来到爱影评www.aiyingping.com最专业的剧情介绍网站</span> 
   </div> 
  </div> 
  <div id="header"> 
   <div class="w"> 
    <div class="logo"> 
     <a href="index.html" title="首页-爱影评,电视剧情网">爱影评</a> 
    </div> 
    <div id="search"> 
     <div class="ser"> 
      <form action="/e/search/index.php" method="post" name="searchform" id="searchform"> 
       <input type="text" id="kw" name="keyboard" class="search-input" value="请在此处输入影片片名或演员名称。" onfocus="if(this.value=='请在此处输入影片片名或演员名称。'){this.value='';}" onblur="if(this.value==''){this.value='请在此处输入影片片名或演员名称。';};" /> 
       <input type="submit" name="submit" class="sub" value="" /> 
       <input type="hidden" name="show" value="title,player" /> 
       <input type="hidden" name="tempid" value="1" /> 
       <input type="hidden" name="tbname" value="movie" /> 
      </form> 
     </div> 
     <p>热门搜索：<a href="/e/search/result/?searchid=47" target="_blank">清潭洞丑闻</a>&nbsp;<a href="/e/search/result/?searchid=27" target="_blank">神雕侠侣</a>&nbsp;<a href="/e/search/result/?searchid=78" target="_blank">狎鸥亭白夜</a>&nbsp;<a href="/e/search/result/?searchid=19" target="_blank">二炮手</a>&nbsp;<a href="/e/search/result/?searchid=17" target="_blank">匹诺曹</a>&nbsp;<a href="/e/search/result/?searchid=168" target="_blank">小时代4</a><br /></p> 
    </div> 
    <p class="plus"><a href="ranking_list.html" class="ph">排行榜</a><a href="/new.html" class="dq">最近更新</a><a href="javascript:void(0)" rel="nofollow" id="addFavorite" class="sc">收藏我们</a></p> 
   </div> 
  </div> 
  <div class="menu"> 
   <div class="w"> 
    <a href="index.html" titile="爱影评,电视剧情网">首页</a> 
    <a href="search_detail.html">电视剧剧情</a>
    <a href="/movie/">电影剧情</a> 
    <a href="search_detail.html">动漫剧情</a>
    <a href="search_detail.html" rel="nofollow">内地剧情</a>
    <a href="search_detail.html" rel="nofollow">港台剧情</a>
    <a href="search_detail.html" rel="nofollow">日韩剧情</a>
    <a href="search_detail.html" rel="nofollow">欧美剧情</a>
    <a href="search_detail.html" rel="nofollow">泰印剧情</a>
    <a href="stars.html">明星库</a> 
    <a href="news.html">影视动态</a> 
   </div> 
  </div> 
  <div id="main"> 
   <div class="location"> 
    <h2>您当前的位置：<a href="index.html">爱影评电视剧情网</a>&nbsp;&gt;&nbsp;<a href="stars.html">明星库</a></h2> 
   </div> 
   <div class="banner"> 
    <script src="../static/js/thea1.js"></script>
   </div> 
   <div class="box end-star"> 
    <ul class="star-list"> 
     <li><a href="stars_detail.html" title="" ="艾恩·格拉法德"="" target="_blank"><img src="../static/images/8c13b294dd62478e0161d0500228531f.jpg" alt="艾恩&middot;格拉法德" /><p>艾恩&middot;格拉法德</p></a></li>
     <li><a href="stars_detail.html" title="" ="姜瑞佳"="" target="_blank"><img src="../static/images/7cc4fde77ba8d1be855974709e78b8cf.jpg" alt="姜瑞佳" /><p>姜瑞佳</p></a></li>
     <li><a href="/star/208.html" title="" ="王凯"="" target="_blank"><img src="../static/images/5b7e48b7a12d5d471ed64327277d3769.jpg" alt="王凯" /><p>王凯</p></a></li>
     <li><a href="/star/207.html" title="" ="祖峰"="" target="_blank"><img src="../static/images/b190740d1578b1ba336c8569ac197db6.jpg" alt="祖峰" /><p>祖峰</p></a></li>
     <li><a href="/star/206.html" title="" ="沈佳妮"="" target="_blank"><img src="../static/images/fc403ff6344087f7076ec3c3c826884b.jpg" alt="沈佳妮" /><p>沈佳妮</p></a></li>
     <li><a href="/star/205.html" title="" ="廖凡"="" target="_blank"><img src="../static/images/77773a3947f6932a2fdf23f69eadde8a.jpg" alt="廖凡" /><p>廖凡</p></a></li>
     <li><a href="/star/204.html" title="" ="董勇"="" target="_blank"><img src="../static/images/4d018de2a689b4654b8f3ddf14a3477b.jpg" alt="董勇" /><p>董勇</p></a></li>
     <li><a href="/star/203.html" title="" ="程煜"="" target="_blank"><img src="../static/images/17edf580fb948f12e973f869b6bec455.jpg" alt="程煜" /><p>程煜</p></a></li>
     <li><a href="/star/202.html" title="" ="王庆祥"="" target="_blank"><img src="../static/images/b4cf1c61f72afbe4df518317ee94cd3b.jpg" alt="王庆祥" /><p>王庆祥</p></a></li>
     <li><a href="/star/201.html" title="" ="倪大红"="" target="_blank"><img src="../static/images/4ece6c6fb3b12fc5ede8c5bfe6f0d526.jpg" alt="倪大红" /><p>倪大红</p></a></li>
     <li><a href="/star/200.html" title="" ="陈宝国"="" target="_blank"><img src="../static/images/6526fdce1a47c9aa5dd81f41105f1601.jpg" alt="陈宝国" /><p>陈宝国</p></a></li>
     <li><a href="/star/199.html" title="" ="刘烨"="" target="_blank"><img src="../static/images/86156e6aed98751e53a87943ceea50a6.jpg" alt="刘烨" /><p>刘烨</p></a></li>
     <li><a href="/star/198.html" title="" ="冯静"="" target="_blank"><img src="../static/images/893228c12d77ba0a96c10fcea5c7ea77.jpg" alt="冯静" /><p>冯静</p></a></li>
     <li><a href="/star/197.html" title="" ="张梓烈"="" target="_blank"><img src="../static/images/af300092cdb63a28cb63d6f088aa34f9.jpg" alt="张梓烈" /><p>张梓烈</p></a></li>
     <li><a href="/star/196.html" title="" ="吕一"="" target="_blank"><img src="../static/images/4c94e99fa848f500ff5e4054da69c20e.jpg" alt="吕一" /><p>吕一</p></a></li>
     <li><a href="/star/195.html" title="" ="李子雄"="" target="_blank"><img src="../static/images/36e5223fabfb74f802d33c131288a616.jpg" alt="李子雄" /><p>李子雄</p></a></li>
     <li><a href="/star/194.html" title="" ="蒋勤勤"="" target="_blank"><img src="../static/images/3bfef98a80363d740b54aba15afa4378.jpg" alt="蒋勤勤" /><p>蒋勤勤</p></a></li>
     <li><a href="/star/193.html" title="" ="王学圻"="" target="_blank"><img src="../static/images/ddd4651904d433e3cfa92d84a52a4d96.jpg" alt="王学圻" /><p>王学圻</p></a></li>
     <li><a href="/star/192.html" title="" ="熊俊豪"="" target="_blank"><img src="../static/images/15312e66f1d1a484e040db8d402a21bf.jpg" alt="熊俊豪" /><p>熊俊豪</p></a></li>
     <li><a href="/star/191.html" title="" ="何泓姗="" "="" target="_blank"><img src="../static/images/bedf5dd32bb2e0f0f42c504887cc1c69.jpg" alt="何泓姗 " /><p>何泓姗 </p></a></li>
     <li><a href="/star/190.html" title="" ="代旭"="" target="_blank"><img src="../static/images/28dfa4d3f267d60538c5e6ddf6f56cbf.jpg" alt="代旭" /><p>代旭</p></a></li>
     <li><a href="/star/189.html" title="" ="傅晶"="" target="_blank"><img src="../static/images/3b963f2a0ac8d167efef382c72a5335a.jpg" alt="傅晶" /><p>傅晶</p></a></li>
     <li><a href="/star/188.html" title="" ="李健"="" target="_blank"><img src="../static/images/b16ebbc99b1c13c4351643dcecbc1be4.jpg" alt="李健" /><p>李健</p></a></li>
     <li><a href="/star/187.html" title="" ="李光洁"="" target="_blank"><img src="../static/images/f0ebd6cd5975356da21148f973e97131.jpg" alt="李光洁" /><p>李光洁</p></a></li>
     <li><a href="/star/186.html" title="" ="巩汉林"="" target="_blank"><img src="../static/images/f89b6e181016664c8d972a16bbafa81f.jpg" alt="巩汉林" /><p>巩汉林</p></a></li>
     <li><a href="/star/185.html" title="" ="柴碧云"="" target="_blank"><img src="../static/images/de1f556013a26a468457be047abad74f.jpg" alt="柴碧云" /><p>柴碧云</p></a></li>
     <li><a href="/star/184.html" title="" ="陈浩民"="" target="_blank"><img src="../static/images/6a0b207ccaf4048b3c8790a48f0bab4a.jpg" alt="陈浩民" /><p>陈浩民</p></a></li>
     <li><a href="/star/183.html" title="" ="张颖"="" target="_blank"><img src="../static/images/7ae6f27f5d30688501e5ed52de71b3bb.jpg" alt="张颖" /><p>张颖</p></a></li>
     <li><a href="/star/182.html" title="" ="馨子"="" target="_blank"><img src="../static/images/4d39aa997005a25a4923b2b2851abd88.jpg" alt="馨子" /><p>馨子</p></a></li>
     <li><a href="/star/181.html" title="" ="张倬闻"="" target="_blank"><img src="../static/images/b3455b83896f929efdc78af703c03f9e.jpg" alt="张倬闻" /><p>张倬闻</p></a></li>
     <li><a href="/star/180.html" title="" ="张雪迎"="" target="_blank"><img src="../static/images/4a4cd6d7db0c612275f69148a8ea51e4.jpg" alt="张雪迎" /><p>张雪迎</p></a></li>
     <li><a href="/star/179.html" title="" ="毛晓彤"="" target="_blank"><img src="../static/images/e2c7ef928f642da2cef84178302b1e74.jpg" alt="毛晓彤" /><p>毛晓彤</p></a></li>
     <li><a href="/star/178.html" title="" ="杨明娜"="" target="_blank"><img src="../static/images/b8901f9b0469d9c5411192abfe01750e.jpg" alt="杨明娜" /><p>杨明娜</p></a></li>
     <li><a href="/star/177.html" title="" ="张馨予"="" target="_blank"><img src="../static/images/b7212122ddeeb1e368a1c8d62a206cf1.jpg" alt="张馨予" /><p>张馨予</p></a></li>
     <li><a href="/star/176.html" title="" ="陈妍希"="" target="_blank"><img src="../static/images/c4550d1a9aeedcd34b5815a0f4dbd12f.jpg" alt="陈妍希" /><p>陈妍希</p></a></li>
     <li><a href="/star/175.html" title="" ="刘钇彤"="" target="_blank"><img src="../static/images/d873bcc16c0bc6a5591d879b05d114dc.jpg" alt="刘钇彤" /><p>刘钇彤</p></a></li>
     <li><a href="/star/174.html" title="" ="徐飒"="" target="_blank"><img src="../static/images/57c342cc1a68d87f3ef7dd1f1e5065e8.jpg" alt="徐飒" /><p>徐飒</p></a></li>
     <li><a href="/star/173.html" title="" ="隋存毅"="" target="_blank"><img src="../static/images/1e055dd5f7dabfdc0088c20b27f6b80b.jpg" alt="隋存毅" /><p>隋存毅</p></a></li>
     <li><a href="/star/172.html" title="" ="车晓"="" target="_blank"><img src="../static/images/2f80a16d9f491c224b9c3a37386d96cc.jpg" alt="车晓" /><p>车晓</p></a></li>
     <li><a href="/star/171.html" title="" ="于晓光"="" target="_blank"><img src="../static/images/bf541415f5ac36b7310a8feb84516e78.jpg" alt="于晓光" /><p>于晓光</p></a></li>
     <li><a href="/star/170.html" title="" ="毛林林"="" target="_blank"><img src="../static/images/79f00adfbba54dc9088255b3142386e2.jpg" alt="毛林林" /><p>毛林林</p></a></li>
     <li><a href="/star/169.html" title="" ="张志坚"="" target="_blank"><img src="../static/images/20b06139aa6ffd507f90f62ba3b1f902.jpg" alt="张志坚" /><p>张志坚</p></a></li>
    </ul> 
    <div id="pages">
      &nbsp; 
     <a href="#" class="curr">1</a>&nbsp; 
     <a href="/star/index_2.html">2</a>&nbsp; 
     <a href="/star/index_3.html">3</a>&nbsp; 
     <a href="/star/index_4.html">4</a>&nbsp; 
     <a href="/star/index_5.html">5</a>&nbsp; 
     <a href="/star/index_2.html">下一页</a>&nbsp; 
     <a href="/star/index_5.html">尾页</a> 
    </div> 
   </div> 
  </div> 
  <!--/footer--> 
  <div id="footer"> 
   <div class="help"> 
    <div class="w"> 
     <ul> 
      <li> <b>电视节目指南</b> <p><a href="javascript:;" rel="nofollow">正在播出</a></p><p><a href="javascript:;" rel="nofollow">热门节目</a></p><p><a href="javascript:;" rel="nofollow">分类预告</a></p><p><a href="javascript:;" rel="nofollow">一周节目指南</a></p> </li> 
      <li> <b>相关推荐</b> <p><a href="javascript:;" rel="nofollow">图片写真</a></p><p><a href="javascript:;" rel="nofollow">影评/短评</a></p><p><a href="javascript:;" rel="nofollow">剧情</a></p><p><a href="javascript:;" rel="nofollow">预告片</a></p> </li> 
      <li> <b>关于我们</b> <p><a href="about.html" rel="nofollow">关于我们</a></p><p><a href="map.html">站点地图</a></p><p><a href="/hz.html" rel="nofollow">站长合作</a></p><p><a href="/contact.html" rel="nofollow">联系我们</a></p> </li> 
      <li> <b>帮助中心</b> <p><a href="javascript:;" rel="nofollow">站长工具</a></p><p><a href="/help.html" rel="nofollow">帮助说明</a></p><p><a href="javascript:;" rel="nofollow">讨论区</a></p> </li> 
      <li class="wx"> <b>关注微信</b> <p class="wxcode"><i></i></p><p>扫描二维码 下载客户端</p> </li> 
      <li class="wb"> <b>关注微博</b> <p><a href="javascript:;" rel="nofollow">新浪微博</a></p><p><a href="javascript:;" rel="nofollow">腾讯微博</a></p> </li> 
     </ul> 
    </div> 
   </div> 
   <!--/link--> 
   <div class="foot"> 
    <p>Copyright &copy; 2014-2015 爱影评 www.aiyingping.com All rights reserved</p> 
    <p>湘ICP备14016065号-2</p> 
    <script type="text/javascript">
    

</script> 
    <script type="text/javascript">
    

</script> 
   </div> 
  </div>  
 </body>
</html>