<div id="footer">
    <div class="help">
        <div class="w">
            <ul>
                <li><b>电视节目指南</b>
                    <p><a href="javascript:;" rel="nofollow">正在播出</a></p>
                    <p><a href="javascript:;" rel="nofollow">热门节目</a></p>
                    <p><a href="javascript:;" rel="nofollow">分类预告</a></p>
                    <p><a href="javascript:;" rel="nofollow">一周节目指南</a></p></li>
                <li><b>相关推荐</b>
                    <p><a href="javascript:;" rel="nofollow">图片写真</a></p>
                    <p><a href="javascript:;" rel="nofollow">影评/短评</a></p>
                    <p><a href="javascript:;" rel="nofollow">剧情</a></p>
                    <p><a href="javascript:;" rel="nofollow">预告片</a></p></li>
                <li><b>关于我们</b>
                    <p><a href="about.html" rel="nofollow">关于我们</a></p>
                    <p><a href="map.html">站点地图</a></p>
                    <p><a href="/hz.html" rel="nofollow">站长合作</a></p>
                    <p><a href="/contact.html" rel="nofollow">联系我们</a></p></li>
                <li><b>帮助中心</b>
                    <p><a href="javascript:;" rel="nofollow">站长工具</a></p>
                    <p><a href="/help.html" rel="nofollow">帮助说明</a></p>
                    <p><a href="javascript:;" rel="nofollow">讨论区</a></p></li>
                <li class="wx"><b>关注微信</b>
                    <p class="wxcode"><i></i></p>
                    <p>扫描二维码 下载客户端</p></li>
                <li class="wb"><b>关注微博</b>
                    <p><a href="javascript:;" rel="nofollow">新浪微博</a></p>
                    <p><a href="javascript:;" rel="nofollow">腾讯微博</a></p></li>
            </ul>
        </div>
    </div>
    <!--/link-->
    <div class="foot">
        <p>Copyright &copy; 本站仅作学习使用</p>
{#        <p>湘ICP备14016065号-2</p>#}
        <script type="text/javascript">


        </script>
        <script type="text/javascript">


        </script>
    </div>
</div>